*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vw;
    min-width: 100vw;

    
.container{
   
    display: grid;
    grid-template-rows: auto,1fr,auto ;
    header {background: red;}
    main {background: green;}
    footer {background: blue;}
}

}