$h: 220;
$s: 70%;
$base2:hsl(220, 70%, 31%);
$gradient-0:  hsl($h, $s, 24%);
$gradient-1:  hsl($h, $s, 27%);
$gradient-2:  hsl($h, $s, 30%);
$gradient-3:  hsl($h, $s, 33%);
$gradient-4:  hsl($h, $s, 36%);
$gradient-5:  hsl($h, $s, 39%);
$gradient-6:  hsl($h, $s, 42%);
$gradient-7:  hsl($h, $s, 45%);
$gradient-8:  hsl($h, $s, 48%);
$gradient-9:  hsl($h, $s, 51%);
$gradient-10: hsl($h, $s, 54%);
$gradient-11: hsl($h, $s, 57%);
$dark: hsl(220, 0%, 8%);
$dark-gray: hsl(220, 0%, 4%);
$rock-0: rgb(196, 199, 27);
$rock-1: rgb(185, 21, 21);
$rock-2: rgb(72, 111, 20);