//variables
$dark: hsl(220, 0%, 8%);
$dark-gray: hsl(220, 0%, 4%);
$light-gray: hsl(220, 0%, 15%);

* {
  margin: 0px;
  padding: 0px;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1280 - 320)));
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100%;
  min-height: 430px;
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 100vw;
  min-width: 100dvw;
  background: $dark;
  .container {
    min-height: 100vh;
    min-height: 100dvh;
    min-width: 100vw;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    header {
      position: absolute;
      top: 0%;
      display: inline-block;
      background: $dark;
      overflow-x: hidden;
      width: 100vw;
      background: conic-gradient(
        from 164deg at -15% -15%,
        rgba(130, 160, 238, 1) 76%,
        rgba(182, 202, 255, 1) 87%,
        rgba(130, 160, 238, 1) 100%
      );
      svg {
        display: block;
        outline: 1px solid rgb(255, 115, 0);
        width: 110vw;
        transform: translateX(-30px);
        @for $i from 0 through 9 {
          :nth-child(#{$i}) {
            fill: hsl(220, 70%, (31%+3 * $i));
            &:hover {
              transition: ease-in-out 200ms;
              transform: translateY(-2px);
            }
          }
        }
        .wave-9 {
          fill: $light-gray;
        }
        .wave-10 {
          fill: $dark-gray;
        }
        .wave-11 {
          fill: $dark;
        }
      }
    }
    main {
      margin-top: 14%;
      overflow-y: hidden;
      overflow-x: hidden;
      width: 100vw;
      background: $dark;
      nav {
        width: 80vw;
        max-width: 1200px;
        margin: auto;

        ul {
          display: flex;
          list-style: none;
          justify-content: space-evenly;
          li.nav-link {
            font-size: 1.6rem;
            color: hsl(0, 6%, 76%);
            
            border-bottom: 1px solid $dark-gray;
            transition: ease-in-out 150ms;
            &:hover {
              color: hsl(0, 6%, 86%);
              border-bottom: 1px solid hsl(0, 6%, 16%);
            }
          }
        }
      }

      .flex-container {
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        background: $dark-gray;
        width: 90vw;
        padding: 2rem;
        margin-top: 0.5rem;
        transition: ease-in-out 100ms;
        p {
          color: white;
          font-size: 1rem;
          &:last-child {
            text-align: right;
          }
        }
        div {
          
          display: flex;
          flex-grow: 1;
          gap: 1rem;
          justify-content: center;
          background-color: $light-gray;
          color: aliceblue;
          border: 1px solid $dark-gray;
          min-width: 260px;
          min-height: 90px;
          padding: 4px;
          transition: ease-in-out 200ms;
          &.gallery-card {
            justify-content: flex-end;

            &:hover {
              opacity: 60%;
            }
          }
        }
      }
    }
    footer {
      position: absolute;
      bottom: 0%;
      width: 100vw;
      //overflow: hidden;

      .svg-footer-linkedin {
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        .linkedin {
          fill: white;
        }
      }
      .svg-footer-github {
        position: absolute;
        display: block;
        
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);

        }
      .svg-footer-mail {
        display: block;
        position: absolute;
        right: 0%;
        bottom: 0%;
        //outline: 1px solid red;
        }

      .rock {
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            fill: hsl(220, 10%, (21%+5 * $i));
          }
        }
      }
      .text {
        fill: rgb(221, 25, 25);
      }
    }
  }
}

@media only screen and (min-width: 896px) {
  body {
    .flex-container .gallery-card {
      min-height: 200px !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    .flex-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    footer {
      outline: 1px solid yellow;
      .svg-footer {
        width: 130vw!important;
        .rock-git{
          transform: translateX(-200px);
          &:hover{
          transform: translateX(-200px);

          }
        }
        .rock-mail{
          transform: translateX(-400px);
        }
        .text{
          transform: translateX(-400px);
        }
      }
    }
  }
}
.translateX20 {
  transition: ease-out 100ms;
  transform: translateX(10px);
}
.translateX-20 {
  transition: ease-in 100ms;
  transform: translateX(-8px);
}
