* {
  margin: 0px;
  padding: 0px;
  font-size: calc(16px + 6 * (100vw - 320px) / 960);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  min-height: 430px;
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 100vw;
  min-width: 100dvw;
  background: hsl(220deg, 0%, 8%);
}
body .container {
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 100vw;
  min-width: 100dvw;
  display: flex;
  justify-content: center;
}
body .container header {
  position: absolute;
  top: 0%;
  display: inline-block;
  background: hsl(220deg, 0%, 8%);
  overflow-x: hidden;
  width: 100vw;
  background: conic-gradient(from 164deg at -15% -15%, rgb(130, 160, 238) 76%, rgb(182, 202, 255) 87%, rgb(130, 160, 238) 100%);
}
body .container header svg {
  display: block;
  outline: 1px solid rgb(255, 115, 0);
  width: 110vw;
  transform: translateX(-30px);
}
body .container header svg :nth-child(0) {
  fill: hsl(220deg, 70%, 31%);
}
body .container header svg :nth-child(0):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(1) {
  fill: hsl(220deg, 70%, 34%);
}
body .container header svg :nth-child(1):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(2) {
  fill: hsl(220deg, 70%, 37%);
}
body .container header svg :nth-child(2):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(3) {
  fill: hsl(220deg, 70%, 40%);
}
body .container header svg :nth-child(3):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(4) {
  fill: hsl(220deg, 70%, 43%);
}
body .container header svg :nth-child(4):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(5) {
  fill: hsl(220deg, 70%, 46%);
}
body .container header svg :nth-child(5):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(6) {
  fill: hsl(220deg, 70%, 49%);
}
body .container header svg :nth-child(6):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(7) {
  fill: hsl(220deg, 70%, 52%);
}
body .container header svg :nth-child(7):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(8) {
  fill: hsl(220deg, 70%, 55%);
}
body .container header svg :nth-child(8):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg :nth-child(9) {
  fill: hsl(220deg, 70%, 58%);
}
body .container header svg :nth-child(9):hover {
  transition: ease-in-out 200ms;
  transform: translateY(-2px);
}
body .container header svg .wave-9 {
  fill: hsl(220deg, 0%, 15%);
}
body .container header svg .wave-10 {
  fill: hsl(220deg, 0%, 4%);
}
body .container header svg .wave-11 {
  fill: hsl(220deg, 0%, 8%);
}
body .container main {
  margin-top: 14%;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  background: hsl(220deg, 0%, 8%);
}
body .container main nav {
  width: 80vw;
  max-width: 1200px;
  margin: auto;
}
body .container main nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
body .container main nav ul li.nav-link {
  font-size: 1.6rem;
  color: hsl(0deg, 6%, 76%);
  border-bottom: 1px solid hsl(220deg, 0%, 4%);
  transition: ease-in-out 150ms;
}
body .container main nav ul li.nav-link:hover {
  color: hsl(0deg, 6%, 86%);
  border-bottom: 1px solid hsl(0deg, 6%, 16%);
}
body .container main .flex-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  background: hsl(220deg, 0%, 4%);
  width: 90vw;
  padding: 2rem;
  margin-top: 0.5rem;
  transition: ease-in-out 100ms;
}
body .container main .flex-container p {
  color: white;
  font-size: 1rem;
}
body .container main .flex-container p:last-child {
  text-align: right;
}
body .container main .flex-container div {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  justify-content: center;
  background-color: hsl(220deg, 0%, 15%);
  color: aliceblue;
  border: 1px solid hsl(220deg, 0%, 4%);
  min-width: 260px;
  min-height: 90px;
  padding: 4px;
  transition: ease-in-out 200ms;
}
body .container main .flex-container div.gallery-card {
  justify-content: flex-end;
}
body .container main .flex-container div.gallery-card:hover {
  opacity: 60%;
}
body .container footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
body .container footer .svg-footer {
  display: block;
  width: 100vw;
}
body .container footer .svg-footer .linkedin {
  fill: rgb(0, 0, 0);
}
body .container footer .svg-footer .github {
  fill: rgb(0, 0, 0);
}
body .container footer .svg-footer .rock:nth-child(1) {
  fill: hsl(220deg, 10%, 24%);
}
body .container footer .svg-footer .rock:nth-child(2) {
  fill: hsl(220deg, 10%, 27%);
}
body .container footer .svg-footer .rock:nth-child(3) {
  fill: hsl(220deg, 10%, 30%);
}
body .container footer .svg-footer .rock:nth-child(4) {
  fill: hsl(220deg, 10%, 33%);
}
body .container footer .svg-footer .text {
  fill: rgb(218, 214, 214);
}
body .container footer .svg-footer .rock-mail:hover {
  transition: ease-in-out 200ms;
  transform: scaleY(1.1);
}
body .container footer .svg-footer .rock-mail:hover + .text {
  fill: white;
}
body .container footer .svg-footer .rock-git:hover {
  transition: ease-in-out 200ms;
  transform: translateY(-4px);
}
body .container footer .svg-footer .rock-git:hover + .github {
  transition: ease-in-out 300ms;
  fill: bisque;
}
body .container footer .svg-footer .rock-link:hover {
  transition: ease-in-out 200ms;
  transform: translateY(-4px);
}
body .container footer .svg-footer .rock-link:hover + .linkedin {
  transition: ease-in-out 300ms;
  fill: bisque;
}

@media only screen and (min-width: 896px) {
  body .flex-container .gallery-card {
    min-height: 200px !important;
  }
}
@media only screen and (max-width: 600px) {
  body .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body footer {
    outline: 1px solid yellow;
  }
  body footer .svg-footer {
    width: 130vw !important;
  }
  body footer .svg-footer .rock-git {
    transform: translateX(-200px);
  }
  body footer .svg-footer .rock-git:hover {
    transform: translateX(-200px);
  }
  body footer .svg-footer .rock-mail {
    transform: translateX(-400px);
  }
  body footer .svg-footer .text {
    transform: translateX(-400px);
  }
}
.translateX20 {
  transition: ease-out 100ms;
  transform: translateX(10px);
}

.translateX-20 {
  transition: ease-in 100ms;
  transform: translateX(-8px);
}/*# sourceMappingURL=style.css.map */