* {
  margin: 0px;
  padding: 0px;
  font-size: calc(16px + 6 * (100vw - 320px) / 960);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: hsl(220deg, 0%, 8%);
}

.div-waves {
  background: conic-gradient(from 164deg at -15% -15%, rgb(130, 160, 238) 76%, rgb(182, 202, 255) 87%, rgb(130, 160, 238) 100%);
  position: absolute;
  width: 100vw;
  overflow: hidden;
}
.div-waves .header-waves {
  position: relative;
  top: 0%;
  left: -10%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.div-waves .header-waves :nth-child(0) {
  fill: hsl(220deg, 70%, 31%);
}
.div-waves .header-waves :nth-child(1) {
  fill: hsl(220deg, 70%, 34%);
}
.div-waves .header-waves :nth-child(2) {
  fill: hsl(220deg, 70%, 37%);
}
.div-waves .header-waves :nth-child(3) {
  fill: hsl(220deg, 70%, 40%);
}
.div-waves .header-waves :nth-child(4) {
  fill: hsl(220deg, 70%, 43%);
}
.div-waves .header-waves :nth-child(5) {
  fill: hsl(220deg, 70%, 46%);
}
.div-waves .header-waves :nth-child(6) {
  fill: hsl(220deg, 70%, 49%);
}
.div-waves .header-waves :nth-child(7) {
  fill: hsl(220deg, 70%, 52%);
}
.div-waves .header-waves :nth-child(8) {
  fill: hsl(220deg, 70%, 55%);
}
.div-waves .header-waves :nth-child(9) {
  fill: hsl(220deg, 70%, 58%);
}
.div-waves .header-waves :nth-child(10) {
  fill: hsl(220deg, 70%, 61%);
}
.div-waves .header-waves :nth-child(11) {
  fill: hsl(220deg, 70%, 64%);
}
.div-waves .header-waves .wave-11 {
  fill: hsl(220deg, 0%, 8%);
}

main.content-container {
  margin-top: 222px;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background: hsl(220deg, 0%, 8%);
  position: absolute;
}
main.content-container nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}
main.content-container nav ul .nav-link {
  font-size: 2rem;
  color: hsl(0deg, 6%, 76%);
  border-bottom: 1px solid hsl(220deg, 0%, 4%);
  transition: ease-in-out 150ms;
}
main.content-container nav ul .nav-link:hover {
  color: hsl(0deg, 6%, 86%);
  border-bottom: 1px solid hsl(0deg, 6%, 16%);
}
main.content-container .content-1 {
  background: hsl(220deg, 0%, 4%);
  width: 80vw;
  padding: 2rem;
  margin-top: 2rem;
}
main.content-container .content-1 p {
  color: white;
  font-size: 2rem;
}
main.content-container .content-1 :last-child {
  text-align: right;
}

footer {
  background: black;
  position: absolute;
  width: 100vw;
  overflow: hidden;
  background: rgb(1, 1, 12);
  bottom: 0%;
  left: 0%;
  width: 100vw;
  height: 224px;
  overflow: hidden;
}
footer .footer-content {
  outline: 1px solid black;
  position: relative;
  width: 100vw;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
}
footer .svg-rocks-footer {
  display: block;
  position: relative;
  bottom: 0%;
  left: -10%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
}
footer .svg-rocks-footer .rock-0 {
  fill: rgb(196, 199, 27);
}
footer .svg-rocks-footer .rock-1 {
  fill: rgb(185, 21, 21);
}
footer .svg-rocks-footer .rock-2 {
  fill: rgb(72, 111, 20);
}

.translateX20 {
  transform: translateX(10px);
}

.translateX-20 {
  transform: translateX(-8px);
}/*# sourceMappingURL=style.css.map */